.container {
  width: 100%;
  margin: 20px auto;
}

.progress {
  width: 90%;
  height: 18px;
  background-color: grey;
  border-radius: 10px;
}
.progress .progress-bar {
  width: 50%;
  opacity: 0;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 10px;
  position: relative;
  transition: all 2s;
}
.progress-bar > span {
  position: absolute;
  top: 0;
  right: 0;
  color: darkslategray;
}
p {
  margin-top: 20px;
}
.Skill_title {
  padding: 30px 0 30px 10px !important;
  font-size: 25px !important;
}
.skill_container {
  margin: 40px 0px !important;
  background-color: rgb(223, 218, 218) !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 15px;
}
