.custom_btn {
  background-color: var(--main-color) !important;
  font-size: px !important;
  font-weight: 500;
  border: 0;
  border-radius: 50px !important;
  padding: 10px 12px;
  line-height: 35px;
  min-width: 100px;
  outline: none;
}
.custom_btn:hover {
  transform: scale(1.1);
  transition: transform 0.01s;
}

.custom_btn .icon_container {
  color: #000;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom_btn .btn_text {
  font-size: 15px;
  text-transform: none;
  text-align: center;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}
.custom_btn .icon_container > .icon_download {
  font-size: 20px;
}
