.about_me {
  margin: 50px 0px;
  background: #fff;
  border-radius: 15px !important;
}
.aboutme {
  background: #fff;
  padding: 30px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}
.experience_head {
  background: rgb(225, 225, 225);
  padding: 30px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cap {
  font-size: 20px;
  color: darkslategray;
}
.mainroot1 {
  margin-top: 30px;
  background: rgb(225, 225, 225);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.service_card_main {
  display: flex;
  flex-direction: row !important;

  flex-wrap: wrap;
}

.service_card {
  max-width: 220px !important;
  margin: 30px;
  min-width: 200px;
}
.service_card_image {
  height: 140px;
}

.service_title {
  padding: 30px 20px;
}

@media (max-width: 700px) {
  .experience {
    flex-direction: column;
  }
}

/* -------contact------- */
.contact_main {
  margin: 30px 0px;
  padding: 30px;
  background: rgb(225, 225, 225);
  border-radius: 15px;
}
.contact_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_fields {
  margin: 20px !important;
}
.contact_left_title {
  margin: 20px !important;
}
.contact_btn {
  padding: 10px 40px !important;
  background: var(--main-color) !important;
  border-radius: 5px !important;
  margin: 20px !important;
}
.contact_right {
  word-wrap: break-word !important;
}

.contact_right_title {
  margin: 20px 20px 20px 0px !important;
}
.contact_right_content {
  font-size: 19px !important;
  font-weight: 400 !important;
  margin: 10px !important;
}
.contact_right_content > small {
  color: darkslategray;
}

.contact_icons {
  text-decoration: none;
  color: darkslategray;
}
