.navbar {
  background: white !important;
  color: black !important;
  border-radius: 15px !important;
}
.homeIcon {
  font-size: 25px !important;
}
.MuiToolbar-gutters {
  padding-left: 0px !important;
}
.MuiIconButton-root {
  border-radius: 0px !important;
  padding: 20px !important;
  margin-left: auto !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.MuiToolbar-root {
  align-items: stretch !important;
  text-align: center;
}
.nav_btn {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
