.footer {
  display: flex;
  flex-direction: row;
  background: #333;
  padding: 20px;
  border-radius: 15px;
  color: white;
}
.footer_left {
  flex-grow: 1;
}
.footer_name {
  font-size: 20px !important;
}
.footer_right {
  display: flex;
}
.footer_copyright {
  color: #555;
  font-size: 14px !important;
}
.footer_copyright > span {
  color: White;
  font-size: 16px !important;
}

@media (max-width: 525px) {
  .footer_name {
    font-size: 14px !important;
  }
  .footer_copyright {
    color: #555;
    font-size: 12px !important;
  }
  .footer_copyright > span {
    display: flex;
    color: White;
    font-size: 12px !important;
  }
}
@media (max-width: 700px) {
  .footer_name {
    font-size: 16px !important;
  }
  .footer_copyright {
    color: #555;
    font-size: 14px !important;
  }
  .footer_copyright > span {
    color: White;
    font-size: 14px !important;
  }
}
