.profile {
  background-color: white;
  border-radius: 6px;
  width: 100%;
}
.profile_name {
  line-height: 18px;
  padding: 20px;
}

.profile_name .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.profile_name .title {
  font-size: 13px;
  color: #777;
}
.profile_image {
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0 100%);
}
.profile_image img {
  width: 100%;
}
.profile_information {
  top: 0;
  left: 0;
  margin: -40px 10px 30px -5px;
}
.profile_information .timeline .timeline_content {
  margin-top: 2px;
  margin-bottom: 12px;
}
.timelineItem_text {
  font-size: 13.5px !important;
  color: #787878;
  font-weight: 500 !important;
}
.timelineItem_text > span {
  color: black;
}
.timelineItem_text > a {
  text-decoration: none;
  color: #787878;
}
.make_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_information .timeline .timeline_content2 {
  margin-top: 2px;
  margin-bottom: 12px;
}
.timelineItem_text2 {
  font-size: 16.5px !important;
  color: #787878;

  display: flex;
  flex-direction: column;
}
.timelineItem_text2 > span {
  color: black;
}
.spaceintimeline {
  margin: 5px 0px !important;
  font-weight: 500;
}
