.timeline {
  padding: 0;
}

/* header */

/* header-title */

.timeline .timeline_header {
  padding-top: 10px;
  color: darkslategray;
  font-size: 19px;
}

.timeline .MuiTimelineItem-root {
  min-height: 0px !important;
}
.timeline .timeline_firstItem {
  min-height: 80px !important;
}
.MuiTimelineItem-missingOppositeContent:before {
  display: none;
}
.timeline .timeline_dot_header {
  color: black;
  background: var(--main-color);
  font-size: small;
  padding: 10px;
}
/* remaingitem */

.timeline .timeline_dot {
  color: black;
  border-color: var(--main-color);
  padding: 2px;
}
.timeline .MuiTimelineConnector-root {
  background-color: #eee;
}
.timeline .MuiSvgIcon-root {
  font-size: 20px;
  color: darkslategray;
}
.timeline .seperator_padding {
  padding-left: 18px;
}
.timeline .timeline_content {
  padding-top: 0px;
  margin-bottom: 12px;
}
