@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .top-60 {
    overflow-x: hidden;
  }
}
a {
  text-decoration: none;
  color: black;
}
