.portfolio_main {
  margin: 50px 0px;
  background: #fff;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-color: rgb(218, 216, 216);
}
.portfoliomain {
  padding: 30px;
}
.custom_card_image {
  height: 140px;
}
.custom_card {
  margin: 20px 0 15px 30px !important;
  height: 100%;
  max-width: 350px;
  min-width: 250px;
  box-shadow: 0 0 48px 0 rgba(4, 6, 4, 0.08);
  border-radius: 5px;
  overflow: hidden;
  outline-width: 0px !important;
  background-color: rgb(235, 233, 233) !important;
}
.card_container {
  margin: 20px 0 !important;
}

.custom_tabs .active {
  color: var(--main-color);
  border: none;
}
.custom_tabs .customTabs_item {
  padding: 0px !important;
  min-width: 0px !important;
  margin-right: 20px !important;
  text-transform: inherit !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  outline-width: 0px !important;
  margin-left: 20px;
}
.caption {
  color: grey;
  font-weight: 400;
}
